  <aside class="bg-light">
      <div class="container text-center">
          <div class="call-to-action">
            <h2>Proud to be working with</h2>
            <hr class="primary">
            </div>
            <div class="row">
    			<div class="col-md-3">
    				<img src="img/portfolio/logowesthaven.jpg" class="re-working-with img-responsive" alt="">
    			</div>
    			<div class="col-md-3">
    				<img src="img/portfolio/logowesthaven.jpg" class="img-responsive" alt="">
    			</div>
    			<div class="col-md-3">
    				<img src="img/portfolio/logowesthaven.jpg" class="img-responsive" alt="">
    			</div>
    			<div class="col-md-3">
    				<img src="img/portfolio/logowesthaven.jpg" class="img-responsive" alt="">
    			</div>
  			</div>
      </div>
  </aside>
