<aside class="bg-dark" id="copyright">
    <div class="container text-center">
        <div>
            <div class="re-copyright-left">
                <i class="fa fa-1x fa-copyright text-primary"></i>
                <p>2017 Rees Electrical (Pembrokeshire) Ltd.</p>
            </div>
            <div class="re-copyright-right">
                <p>Designed By</p>
                <a target="_blank" href="https://www.linkedin.com/in/nprees" class="re-author">Nicholas Rees</a>
            </div>
        </div>
    </div>
</aside>
