<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Rees Electrical (Pembrokeshire) Ltd.</h1>
            <hr>
            <p>Providing Electrical Services throughout Pembrokeshire, from small domestic projects to large scale industrial installations and solutions</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Services</a>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact</a>
        </div>
    </div>
</header>
