<aside class="bg-dark" id="recognition">
    <div class="container text-center">
        <div>
            <img src="img/portfolio/niceic-fullcolor.png" class="img-responsive wow bounceIn re-niceic" alt="">
            <p>Proud to have achieved the coveted</p>
            <p class="re-stand-out"> 25 year </p>
            <p>NICEIC Approved Contractor Recognition.</p>
        </div>
    </div>
    <div class="re-get-in-touch container" style="">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Get In Touch</a>
            </div>
        </div>
    </div>
</aside>
